{% extends 'auctions/layout.html' %}

{% block body %}
    <h2>{{ category.name }}</h2>
        <div class="d-flex">
            {% for item in category.auctionitem_set.all %}
                <div class="card m-2" style="width: 18rem;">
                    <img src="{{ item.image }}" class="card-img-top" alt="{{ item.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.title }}</h5>
                        <h6 class="card-title">${{ item.initial_bid_price }}</h6>
                        <p class="card-text">{{ item.desc }}</p>
                        <a href="{% url 'category_view' item.category.id %}" class="position-relative" style="z-index: 2;">{{ item.category }}</a>
                        <a href="{% url 'item' item.id %}" class="stretched-link"></a>
                    </div>
                </div>
            {% empty %}
                <div>No Listings</div>
            {% endfor %}
        </div>
{% endblock %}